# development | production
VITE_API_MODE=development

# JSON Server local
VITE_API_DEV_URL=http://localhost:3000

# Para GitHub Pages: usa una API REST compatible con JSON Server.
# Ejemplo: https://tu-api-publicada.example.com
VITE_API_PROD_URL=
